@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-slate-800
  text-white
  font-[poppins]
  box-border
  overflow-x-hidden
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284, 12%, 24%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.hero-gradient {
  background-image: linear-gradient(
    270deg, 
    hsl(295deg 76% 51%) 0%,
    hsl(284, 12%, 24%) 26%,
    hsl(306, 67%, 52%)39%,
    hsl(202, 76%, 43%)50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220, 80%, 41%) 100%
  );
}

.sm-D {
  @apply sm:h-[40px] sm:w-[80px] sm:border-[10px] sm:rounded-r-[30px]
}
.md-D {
  @apply md:h-[70px] md:w-[130px] md:border-[14px] md:rounded-r-[40px] 
}
.lg-D {
  @apply lg:h-[100px] md:w-[180px] lg:border-[20px] lg:rounded-r-[50px]
}

.gradient-02 {
  background-image: linear-gradient(
    270deg, 
    hsl(306, 67%, 52%)39%,
    hsl(220, 80%, 41%) 100%
  );
  filter: blur(123px);
}
.gradient-03 {
  background-image: linear-gradient(
    270deg, 
    hsl(180, 67%, 52%)39%,
    hsl(285, 80%, 41%) 100%
  );
  filter: blur(73px);
}
.gradient-04 {
  background-image: linear-gradient(
    270deg, 
    hsl(180, 67%, 52%)109%,
    hsl(285, 80%, 41%) 100%
  );
  filter: blur(123px);
}
.gradient-05 {
  background-image: linear-gradient(
    270deg, 
    hsl(295, 67%, 52%)109%,
    hsl(285, 80%, 41%) 100%
  );
  filter: blur(123px);
}

.expanded {
  @apply col-span-2
}
